<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %title
        %meta{:content => "", :name => "description"}
          %meta{:content => "width=device-width", :name => "viewport"}
            / Place favicon.ico and apple-touch-icon.png in the root directory
            / build:css styles/main.css
            %link{:href => "styles/bootstrap.css", :rel => "stylesheet"}
              %link{:href => "styles/main.css", :rel => "stylesheet"}
                / endbuild
  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    /[if lt IE 9]
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    / Add your site or application content here
    .container{"ng-view" => ""}
    -#%div{'ng-controller' => 'camfire.ConnectivityCtrl'}
    %script{:src => "components/angular/angular.js"}
    %script{:src => "components/angular-resource/angular-resource.js"}
    %script{:src => "components/angular-cookies/angular-cookies.js"}
    %script{:src => "components/angular-sanitize/angular-sanitize.js"}
    %script{:src => "components/jquery/jquery.js"}
    %script{:src => "components/async/lib/async.js"}
    %script{:src => "components/requirejs/require.js", 'data-main' => 'scripts/main'}
    %script{:src => "components/atmosphere-javascript/modules/jquery/src/main/webapp/jquery/jquery.atmosphere.js", 'data-main' => 'scripts/main'}
    / build:js scripts/scripts.js
    / endbuild
    / Google Analytics: change UA-XXXXX-X to be your site's ID.
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

